<div class="container">
  <div class="row">
    <div class="col-12 titulo">
      <h6>Desenvolvimento</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-12 imagem">
      <a href="https:www.innovvationet.com.br">
        <img src="../../../assets/images/logoInnovvatio.png" alt="Innovvatio">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 texto">
      <a href="https:www.innovvationet.com.br">Innovvatio</a>
      <span class="material-symbols-outlined">copyright</span>
      2024.
    </div>
  </div>
</div>

