<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="titulo">
        <h1>Japa Modan</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="horario">
        <h5>Trazendo felicidade e qualidade</h5>
        <h5>Quarta a Domingo, das 17:oo às 00:00.</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="precos">
        <h6>Rodizio Executivo: Quarta a Sexta: $109,90</h6>
        <h6>Rodizio Executivo: sábado a Domingo: $129,90</h6>
        <h6>Rodizio Premium: Quarta a Sexta: $129,90</h6>
        <h6>Rodizio Premium: Quarta a Sexta: $129,90</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="vantagem">
        <h5>Cadastre-se no Clube de Vantagens</h5>
        <h6>Garanta 5% de desconto na mesa toda</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="botao">
        <button type="button">
          <h5>Cadastre-se aqui</h5>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="navegue">
        <h5>Para conhecer mais das nossas opções, navegue pelo nosso cardápio</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="botaoCardapio">
        <button type="button">
          <h2>Cardápio</h2>
        </button>
      </div>
    </div>
  </div>
</div>

<app-rodape />

